#image {
    display:block;
    width: 800px;
    height: auto;
    max-width: 100%;
    margin: 20px auto;
  }

h1, #tribute-info, #img-caption, #timeline > p{
    text-align: center;
}

body {
    background-color: #87CEEB;
}

#img-div {
    background-color: #ffffff;
    padding: 10px 0;
}

#timeline > p, .bold{
    font-weight: bold;
}

#container > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#container {
    width: 850px;
    margin: 4px auto;
}